/* App Css File */
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    padding: 0;
    margin: 0;
}

p {
	font-family: 'lato', sans-serif;
}

a {
	font-family: 'lato', sans-serif;
}

.main-view {
	height: 100%;
}

#navigation {
	position: fixed;
	bottom: 0;
	height: 3em;
	width: 100%;
	background-color: #002F2F;

}

.title {
	font-family: pacifico;
	color: #A7A37E;
	text-align: center;
	position: relative;
	top: -0.55em;
	font-size: 1.5em;

}

.header {
	position: fixed;
	top: 0;
	height: 3em;
	width: 100%;
	background-color: #002F2F;
	z-index: 9;
	/*margin-bottom: 15em;*/

}

.spacer {
	height: 3.5em;
	display: inline-block;
}

.inputPictureBG {

	width: 100%;
	height: 100%;
	background-color: #AAAAAA;
}

.inputPictureBG input {
	position: fixed;
	width: 1em;
	height: 1em;
	background: none;
    /*border: none;*/
	/*background-color: red;*/
}

.showPictureBG {
	width: 100%;
	height: 100%;
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #000000;
	position: absolute;
	top: 0;
	z-index: -1;
}

.showPictureBG img{
	/*width: 100%;*/
	height: 100%;
	/*width: auto;*/
	background-color: #000000;
	overflow-y: scroll;
	position: relative;
}

nav a {
	width: 33.333%;
	height: 3em;
	color: white;
	display: inline-block;
	text-align: center;
	margin: 0;
}

.active {
	background-color: rgba(0,0,0,0.5);
}

#take-picture {
	/*margin-top: 4em;*/
	width: 100%;
	height: 100%;
	background-color: #72AD97;
	opacity: 0;
}


nav span.glyphicon {
    padding: 0.45em;
    font-size: 1.5em;
}
 
 nav a:hover, nav span.glyphicon:hover {
	color: #E6E2AF;
}
 nav a:focus, nav span.glyphicon:focus, 
 nav a:active, nav span.glyphicon:active,
 .toggle-nav:hover, .toggle-nav:focus, .toggle-nav:active {
	color: #A7A37E;

}



.active {
	color: #E6E2AF;

}


.colour1 {
	background-color: #472D38;
	width: 100%;
    height: 20px;
}
.colour2 {
	background-color: #72AD97;
	width: 100%;
    height: 20px;
}
.colour3 {
	background-color: #D6D9BA;
	width: 100%;
    height: 20px;
}
.colour4 {
	background-color: #E6E2AF;
	width: 100%;
    height: 20px;
}
.colour5 {
	background-color: #D16C5C;
	width: 100%;
    height: 20px;
}

.splashTitle {
	font-family: pacifico;
	text-align: center;
	font-size: 4em;
	padding-top: 3em;
	color: #E6E2AF;
	margin: 0;
	margin-bottom: 1em;

}

.subTitle {
	font-family: pacifico;
	text-align: center;
	font-size: 1em;
	color: #A7A37E;
	margin-bottom: 12em;
}

/*.snapshot {
	vertical-align: bottom;
	overflow: hidden;
	background-color: black;
}*/

#splash a {
	/*visibility: hidden;*/
	/*margin-top: 10em;*/
	font-size: 1.2em;
	padding: 0.5em;
	border: 1px solid #A7A37E;
	/*border-radius: 0.5em;*/
	text-decoration: none;

	font-family: pacifico;
	text-align: center;
	color: #A7A37E;
	margin-bottom: 3em;
	/*background-color: rgba(255,255,255,0.5);*/
	transition: font-size 0.5s, background-color 0.5s, color 0.5s, border 0.5s;
	-webkit-transition: font-size 0.5s, background-color 0.5s, color 0.5s, border 0.5s;
}

#splash a:hover {
	font-size: 1.4em;
	padding: 0.5em;
	border: none;
	/*border-radius: 0.5em;*/
	text-decoration: none;
	/*font-family: pacifico;*/
	/*text-align: center;*/
	color: #002F2F;
	margin-bottom: 3em;
	background-color: rgba(255,255,255,0.5);
}

#loginBtn {
	visibility: hidden;
}

/*#loginBtn {
	visibility: hidden;
	font-size: 1.2em;
	padding: 0.5em;
	border: 1px solid #A7A37E;
	border-radius: 0.5em;
	text-decoration: none;

	font-family: pacifico;
	text-align: center;
	color: #A7A37E;
	margin-bottom: 3em;
	background-color: rgba(255,255,255,0.5);
	transition: font-size 0.5s, background-color 0.5s, color 0.5s, border 0.5s;
	-webkit-transition: font-size 0.5s, background-color 0.5s, color 0.5s, border 0.5s;
}

#loginBtn:hover {

}*/

/*.snapshot:before {
    content: "";
    padding-top: 100%;
    display: block; 
}*/

#status {
	text-align: center;

}

#splash {
	position: fixed;
	background-color: #002F2F;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10;
}

/*SLIDE OUT MENU*/
.toggle-nav {
	font-size: 2em;
	color: white;
	right: 0;
}

#settings{
	position: relative;
	float: right;
	padding: 0.25em;
	z-index: 89;
}

.toggle-nav {
	right: 0;
}


#site-menu {
width: 250px;
height: 100%;
position: absolute;
top: 0;
right: -250px;
background: #D6D9BA;
padding: 15px;
z-index: 90;
display: none;
}

#site-menu.show-nav  {
display:block;
-webkit-transform: translateX(-250px);
transform: translateX(-250px);
-webkit-transition: .3s ease all;
transition: .3s ease all;

}

/*END SLIDE OUT MENU*/

.take-photo {
	background-color: black;
	width:100%;
	height:700px;
}

.take-photo h1 {
	/*color: white;*/	
}

.cameraTitle {
	font-family: pacifico;
	text-align: center;
	font-size: 3em;
	padding-top: 50%;
	color: #E6E2AF;
	margin: 0;

}

img {
	max-width: 100%;
	max-height: 100%;
}

.list-container {
	/*margin-top: 4em;*/
	/*padding-top: 4em;*/
	width: 100%;
	height: 100%;
}

#list-container{
	padding-top: 3em;
	padding-bottom: 3em;

}

/*<<<<<<< HEAD*/
/*#list-container h1 {
	margin: 0;
	text-align: center;
	padding: 1.5em;
}*/
/*=======
#list-container h1 {
	font-family: 'lato';
	font-weight: 900;
	margin: 0;
	text-align: center;
	padding: 1.5em;
	color: #E6AF83;

}
>>>>>>> ed2996201d45b130ac41121e813f6914ceed6b63*/

.list-box {
	width:100%;
	height:10em;
	display: block;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: 50% 50%;
	color: rgb(25,25,25);
    transition: background-size 0.5s, opacity 0.5s, color 0.2s;
    -webkit-transition: background-size 0.5s, opacity 0.5s, color 0.2s;
}

.list-box h1 {
	margin: 0;
	text-align: center;
	padding: 1.5em;
	background-color: rgba(0,0,0, 0.3);
	color: white;
	font-family: pacifico;

	transition: background-color 0.5s, font-size 0.5s, padding 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, font-size 0.5s, padding 0.5s, color 0.5s;
}

.list-box h1:hover {
	background-color: rgba(255,255,255, 0.5);
	font-size: 3em;
	padding: 1.2em;
	color: #002F2F;
}



.list-box:hover, .list-box:focus, .list-box:active {
/*<<<<<<< HEAD*/
	background-size: 110% auto;
	/*opacity: 0.8;*/
	text-decoration: none;
	font-weight: bold;
/*
=======
	background:#472D38;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.75;
>>>>>>> ed2996201d45b130ac41121e813f6914ceed6b63*/
}



#imageFeedList {
	padding-top: 3em;
}

#imageFeedList img {
	transition: .3s ease all;
	-webkit-transition: .3s ease all;
}

.select-list {
	position: fixed;
	top: 40%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 3.5em;*/
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 2em;
	width: 100%;
}

.select-list p {
	
	font-style: italic;
	font-size: 1em;
	font-weight: 300;
}

#uploadable-list-options {
	margin-bottom: 1em;
}

#listImageFeed {
	margin-top: 6.5em;
}

.list-description {
	top: 0;
	margin-top: 3em;
	padding: 1em;
	position: fixed;
	background-color: #E6E2AF;
	width: 100%;
	height: 3.5em;
/*<<<<<<< HEAD
	height: 3.5em;
}

.list-description a {
	font-weight: bold;
=======*/
	text-align: center;
}

.take-photo2 {
	position:fixed;
	width:100%;
	text-align: center;
	background-color: #72AD97;
}

.take-photo2:hover {
	opacity:0.5;
}

.list-description p {
	font-family: 'lato';
	font-style: italic;
	font-weight: 400;
	color: black;
}

.list-description a {
	font-family: 'lato';
	font-weight: 700;
/*>>>>>>> ed2996201d45b130ac41121e813f6914ceed6b63*/
}

/*.list-description p {
	font-weight: bold;
	font-size: 1.5em;
}*/

#submit-image {
	border: 1px black solid;
	border-radius: 0.5em;
	font-family: 'lato', sans-serif;
	font-size: 1em;
	font-weight: 400;
	padding: 0.25em;
	text-decoration: none;
	display:block;
}

