/* App Css File */
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.colour1 {
	background-color: #472D38;
	width: 100%;
    height: 20px;
}
.colour2 {
	background-color: #72AD97;
	width: 100%;
    height: 20px;
}
.colour3 {
	background-color: #D6D9BA;
	width: 100%;
    height: 20px;
}
.colour4 {
	background-color: #E6AF83;
	width: 100%;
    height: 20px;
}
.colour5 {
	background-color: #D16C5C;
	width: 100%;
    height: 20px;
}

.box{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;

	flex-wrap: wrap;
}

/* NAV */



.title {
	text-align: center;
	font-size: 3em;
	margin: 200px auto;
	color: #72AD97;

}

.subTitle {
	text-align: center;
	font-size: 1em;
	margin: -190px auto;
	color: #72AD97;


}

.placeholder {
	width: 200px;
	height: 200px;
	overflow: hidden;
	background-color: black;
}

#status {
	text-align: center;

}

#home-screen {
	background-color: #472D38;
	padding-top: 100px;
	padding-bottom: 290px;

}
