/* App Css File */


.colour1 {
	background-color: #472D38;
	width: 100%;
    height: 20px;
}
.colour2 {
	background-color: #72AD97;
	width: 100%;
    height: 20px;
}
.colour3 {
	background-color: #D6D9BA;
	width: 100%;
    height: 20px;
}
.colour4 {
	background-color: #E6AF83;
	width: 100%;
    height: 20px;
}
.colour5 {
	background-color: #D16C5C;
	width: 100%;
    height: 20px;
}